doctype html
html
    head
        title=title
        meta(name='renderer',content='webkit')
        link(rel='stylesheet', href='/css/common.css')
        script(src='/js/common/jquery-1.11.1.min.js')
        script(src='/js/common/jquery.cookie.js')
        script(src='/js/common/common.js')
        script(src='/js/common/tools.js')
        block extraHead
    body
        block content

