extends ../common

block extraHead
    link(rel='stylesheet', href='/css/function.css')

block content
    div.topbar
        div.topbarCtn
            a.topbarLogo(href='/index')
            p.topbarWelcome 欢迎使用功夫牙医口腔门诊管理系统
    div.function
        div.functionBlock
            div.functionBlockTt 完善信息
            div.functionStep
                div.functionStepItem 1个人信息
                div.functionStepItem.functionStepItemActive 2职业信息
                div.functionStepItem 3资格认证
            div.functionStep01
                i.mr20.functionStepItemActive 01.创建医院
                i 02.医院审核
            div.functionBlockText
                div.kfselect(data-itemmax='5',style='width:317px;text-align:left;text-indent:15px !important;')
                    div.kfselectValue 医院名称
                    div.kfselectCtn
                        div.kfselectItem.textLeft(style='text-indent:15px !important') 武汉大学口腔医院
            div.functionBlockText
                div.kfselect(data-itemmax='5',style='width:317px;text-align:left;text-indent:15px !important;')
                    div.kfselectValue 所在地区
                    div.kfselectCtn
                        div.kfselectItem.textLeft(style='text-indent:15px !important') 湖北省武汉市武昌区
            input.functionBlockText(type='text',placeholder='详细地址')
            div.functionError
                div.functionErrorImg
                div.functionErrorText 您的手机号填写有误，请重新填写
            input.functionBlockText(type='text',placeholder='联系方式（请填写座机号码和手机号码）')
            div.functionError
                div.functionErrorImg
                div.functionErrorText 密码错误，请重新填写
            div.functionStep01.f18 医院资格审核
            div.functionStep01.f16.black.mt20 请您提供清晰的证件图片可以加快审核时间哦！
            div.permitArea
                div.permit.fl
                    div.permitTt
                        p 请提供医疗
                        p 机构许可证
                    div.permitCtn
                        div.permitCtnImg
                        div.fl 上传照片
                div.permit.fr
                    div.permitTt
                        p 请提供
                        p 营业执照
                    div.permitCtn
                        div.permitCtnImg
                        div.fl 上传照片

            input.functionBtn.mt20(type='button',value='确认')
    include ../common/foot
    script(src='/js/function/register.js')





