extends ../common

block extraHead
    link(rel='stylesheet', href='/css/function.css')

block content
    div.topbar
        div.topbarCtn
            a.topbarLogo(href='/index')
            p.topbarWelcome 欢迎使用功夫牙医口腔门诊管理系统
    div.function
        div.functionBlock
            div.functionBlockTt 完善信息
            div.functionStep
                div.functionStepItem 1个人信息
                div.functionStepItem.functionStepItemActive 2职业信息
                div.functionStepItem 3资格认证
            div.functionStep01
                i.mr20 01.创建医院
                i.functionStepItemActive 02.医院审核
            div.functionPass
                div.functionPassImg
                div.f18.blue 恭喜您资料提交成功
                div.black 我们将在两个工作日内审核，请耐心等待！
            p.mt20 温馨提示
            p.mt10 在资格未认证成功前仅有部分功能供使用。请确保资料的真实性，等待通过
            input.functionBtn.mt20(type='button',value='继续')
    include ../common/foot
    script(src='/js/function/register.js')





