script(src='/js/common/filter.js')
div.filter
    div.filterTimer
        div.filterTt.filterTimerTt 时间
        div.filterInput.kfTimePicker
        div.filterLink ~
        div.filterInput.kfTimePicker
        div.filterBtn.filterBtnActive 重置
    div.filterSort
        div.filterTt 排序
        div.filterBtn.filterBtnActive 按就诊时间排序
        div.filterBtn 按录入时间排序
        div.filterNewPatient.filterBtn
            div.filterNewPatientImg
            span 新增患者

