div.topbar
    div.topbarCtn
        a.topbarLogo(href='/index')
        p.topbarWelcome 欢迎使用功夫牙医口腔门诊管理系统
        div.topbarHello
            div.topbarHelloImg
            div.topbarHelloText
                span 欢迎您，
                span=name



